<p>Welcome back, <%= current_user.fname.humanize %>!</p>
<p>You currently have <%= user_data.currentcoins %> coins.</p>
<p>You have earned a total of <%= user_data.totalcoins %> coins since you started playing Classroom Hero.</p>
<p>You are currently a level <%= user_data.lvl %>.</p>

