<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %>| Classroom Hero</title>
    </head>
    <body>
        <!-- Page Content -->
        <div class="container" style="width: 80%;">

            <!-- Introduction Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-header">About Us
                    </div>
                    <p style="max-width: 50%; margin: 0 auto; font-size: 18px;">Classroom Hero started in August of 2014 in Santa Rosa, California as a mobile
                    tablet application that teachers use to motivate students with an engaging token economy. Since then, we've gotten in 27 classrooms across 5 schools. Our goal since inception has been to increase student motivation 
                    in the classroom, and to make this process easier for teachers. 
                    <br><br>
                     In bridging the gap between technology and reality, we have found the need for engaging technology in education. Our vision is therefore to enhance the student learning experience as much as we can by creating a system that teachers and parents can use to motivate student education. 
                    </p>
                </div>
            </div>

            <!-- Team Members Row -->
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-12">
                    <div class="about-header">Co-Founders</div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="margin-top: 25px;">
                    <img class="img-circle img-responsive img-center" src="kody.jpg" alt="">
                    <h3>Kody Anderson</h3>
                    <h3><small>CEO & Co-Founder</small></h3>
                    <p>Kody invented Classroom Hero to address the problem of motivation in school. He leads strategy, fundraising, customer relations, and team-building for Classroom Hero. Before Classroom Hero, Kody received an Associates degree in Natural Science and Anthropology from the Santa Rosa Junior College. </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="margin-top: 25px;">
                    <img class="img-circle img-responsive img-center" src="eric.jpg" alt="">
                    <h3>Eric Horvat</h3> 
                    <h3><small>CTO and Co-Founder</small></h3>
                    <p>Eric co-founded Classroom Hero with Kody and leads strategy for the application and website. Prior to Classroom Hero, Eric studied Computer Science at Southern Oregon University. He later attended the Santa Rosa Junior College to continue his computer science education. Around this time, Kody and Eric began working on Classroom Hero, and it has been his passion ever since! </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="margin-top: 25px;">
                    <img class="img-circle img-responsive img-center" src="josh.jpg" alt="">
                    <h3>Josh Nussbaum</h3>
                    <h3><small>COO and Co-Founder</small></h3>
                    <p>Josh leads iOS and web development. He's currently a senior at UCSC, completing his CS bachelor of science. Josh has worked with Eric in the past on previous projects, and gravitated towards Classroom Hero after seeing its potential to affect students in a positive way. His passion is creating works of art that teachers, students, and parents can enjoy.   </p>
                </div>
             
            </div>


        </div>
    </body>
</html>