<% provide(:title, "Privacy Policy") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %>| Classroom Hero</title>
    </head>
    <body>
        <h1>Privacy Policy</h1><br>
        <p>
            Classroom Hero Privacy Policy Page
        </p>
    </body>
</html>