<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="container">
    <%= link_to "Classroom Hero", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right header">
        <%= link_to "Pricing", pricing_url, {:style=>'outline:none; text-decoration: none !important; color: white; position: relative; top: +9px; left: -13px;'} %>

        <button type="button" class="btn btn-link headerButtons" data-toggle="modal" data-target="#signUpModal" style="outline:none; text-decoration: none !important; color: white;">
          Sign up
        </button>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signInModal" style="outline:none; text-decoration: none !important; color: white;">
          Sign in
        </button>
        
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle">Support <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><%= link_to "Help Center", help_url %></li>
                <li class="divider"></li>
                <li><%= link_to "Contact", contact_path %></li>

            </ul>
        </div>
        
        <button type="button" class="btn btn-link"  style="outline:none; text-decoration: none !important; color: white;">
          My Account
        </button>
      </ul>
    </nav>
    
    <!-- Sign Up Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="center modal-title" id="myModalLabel">Sign up</h4>
          </div>
          <div class="modal-body">
            <input type="text" name="first_name" id="first_name"
				  	class="center input form-control fields" placeholder="First Name"
				  	style="max-width: 400px;"><br>
				  	<input type="text" name="last_name" id="last_name"
				  	class="center input form-control fields" placeholder="Last Name"
				  	style="max-width: 400px;"><br>
          </div>
          <div class="modal-footer">
            <button type="button" class=" btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class=" btn btn-primary">Sign up</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sign In Modal -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="center modal-title" id="myModalLabel">Sign in</h4>
          </div>
          <div class="modal-body">
            <input type="text" name="email" id="email"
				  	class="center input form-control fields" placeholder="Email"
				  	style="max-width: 400px;"><br>
				  	<input type="text" name="password" id="password"
				  	class="center input form-control fields" placeholder="Password"
				  	style="max-width: 400px;"><br>
          </div>
          <div class="modal-footer">
            <button type="button" class=" btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class=" btn btn-primary">Go</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</header>