@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-modal";

/* mixins, variables, etc. */

$gray-medium-light: #00CCFF;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

.jumbotron{
  background-color:transparent;
}


header.splash {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image:url(image-path('stamps.jpg'));
    background-position: center center;
    background-repeat: none;
    background-size:cover;
    min-height: 620px;
    height: 100vh;
    
}

div.how-it-works-panel{
    top: -592px;
    background-size: cover;
    background-color: white;
}

@media(min-width:768px) {
    header .intro-text {
        padding-bottom: 300px;
    }
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  width: 72vw;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  width: 65vw;
  margin: 0 auto;
  line-height: 2;

}

p {
  font-size: 20px;
  line-height: 1;
}


/* header ~ modal */

.container ul button{
   position: relative;
   top: +7px;
}
 
.modal-body input{
   margin: 0 auto;
}


.modal-backdrop, .modal-backdrop.fade.in { background-color: rgba(0,0,0,0); }



#logo {
  outline: none;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* carousel */

.carousel-caption{
    position:static;
    background-size:cover;
    min-height: 30vh;
}

.carousel-control.left, .carousel-control.right{ 
  background: none !important; 
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  a {
    &:hover {
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      color: white;
      float: right;
      margin-right: 15px;
      font-size: 20px;
    }
  }
}

/* How it works */

.how-it-works-panel{


  h1{
    padding-top: 50px;
  }
  h2{
    font-size: 200%;
  }
  h3{
    font-size: 100%;
  }

}

/*  Home Page  */

.promoVideos{
  padding-top:50px
}

.demoVideos{
  padding-top: 50px;
  h1{
    padding-bottom:50px;
  }
}

#teacherVideos{
  overflow-x:hidden;
}