<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %>| Classroom Hero</title>
    </head>
    <body>
        <!-- Page Content -->
        <div class="container">

            <!-- Introduction Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-header">About Us
                    </div>
                    <p>Classroom Hero was started in August of 2014 in Santa Rosa, California as a 
                    tablet application for teachers to motivate students with an engaging token economy.
                     We digitized the traditional 'gold star' in a modern and fun way. 
                     Students in 27 classrooms across 5 schools are being rewarded for positive
                     actions through Classroom Hero.  </p>
                </div>
            </div>

            <!-- Team Members Row -->
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-12">
                    <div class="about-header">Our Co-Founders</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="margin-top: 25px;">
                    <img class="img-circle img-responsive img-center" src="kody.jpg" alt="">
                    <h3>Kody Anderson
                        <small>CEO & Co-Founder</small>
                    </h3>
                    <p>Kody invented Classroom Hero to address the problem of motivation in school. He leads strategy, fundraising, customer relations, and team-building for Classroom Hero. Before Classroom Hero, Kody received one Associates degree in Natural Science and one in Anthropology from the Santa Rosa Junior College. </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="margin-top: 25px;">
                    <img class="img-circle img-responsive img-center" src="eric.jpg" alt="">
                    <h3>Eric Horvat
                        <small>CTO and Co-Founder</small>
                    </h3>
                    <p>Eric co-founded Classroom Hero with Kody and leads development for the application and website. Prior to Classroom Hero, Eric studied Computer Science at Southern Oregon University. He later began attending the junior college in his hometown, Santa Rosa, CA. This is when Kody and Eric began collaborating on this project. His passion is creating impactful software that improves education! </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="margin-top: 25px;">
                    <img class="img-circle img-responsive img-center" src="josh.jpg" alt="">
                    <h3>Josh Nussbaum
                        <small>COO and Co-Founder</small>
                    </h3>
                    <p>Josh leads iOS development and helps with application and web development. He's currently completing his Computer Science BS at University of California, Santa Cruz. His passion is making works of art that teachers, students, and parents can enjoy. </p>
                </div>
             
            </div>

            <hr>

        </div>
    </body>
</html>