<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %>| Classroom Hero</title>
    </head>
    <body>
        <div class="about-page">
        	<div class="dashboard col-md-3">
	    		<div style="font-size: 30px;">
	    			About Menu
	    		</div>
	    	</div>

	    	<div class="dashboard col-md-6">
	    		<div style="font-size: 30px; text-align:center;">
	    			Content
	    		</div>
	    	</div>

        </div>
    </body>
</html>