<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %>| Classroom Hero</title>
    </head>
    <body>
        <h1>About</h1><br>
        <p>
            Classroom Hero About Page
        </p>
    </body>
</html>