<!DOCTYPE html>
<html>
    <head>
        <title>Help | Classroom Hero Tool For Teachers</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>
            Classroom Hero Help Page
        </p>
    </body>
</html>

