<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Classroom Hero</title>
    </head>
    <body>
        <h1>Help</h1><br>
        <p>
            Classroom Hero Help Page
        </p>
    </body>
</html>

