<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <%= javascript_include_tag "application" %>
    <head>
        <title><%= yield(:title) %> | Classroom Hero</title>
    </head>
    <body>
    
    <div class="how-it-works-panel"style="display:none">How it works goes here
         
        
    </div>
    <header class="splash">
        <div class="center jumbotron">
              <h1>Classroom Hero is an interactive token economy</h1><br>
              <a class="btn btn-md btn-info" id="how-it-works-btn">How it works</a><br>
              
              
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
             
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  
                  <div class="carousel-caption">
                   <br><h2>
                    This is not your ordinary reward system. Combined with the magic of
                    <a href="http://beta.snowshoestamp.com/">SnowShoe Stamps</a>, Classroom Hero instantly creates powerful teacher-student interactions
                   </h2><br>
                   
                    <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#signUpModal" style="outline:none">
                      Sign up
                    </button>
                    <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#signInModal" style="outline:none">
                      Sign in
                    </button>
                  
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-caption">
                      <br><h2>Motivate a generation of learners with technology that will blow their minds!</h2><br>
                      <button type="button" class="btn btn-sm btn-primary"> Student Videos</button>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-caption">
                      <br><h2>Teachers using Classroom Hero find their students are more motivated to learn and behave well. </h2><br>
                      <a class="btn btn-sm btn-primary" href="#teacherVideos"> Teacher Videos</a>
                      <br>
                  </div>
                </div>
              </div>
             
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div> <!-- Carousel -->
        </div>
        </header>
        
        
        <section id="teacherVideos">
          <br><h1>Teacher Videos Section</h1>
        </section>
    </body>
</html>


