<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Classroom Hero</title>
    </head>
    <body>
        <div class="center jumbotron">
              <h1>Classroom Hero is a fun and interactive token economy</h1><br>
              <h2>
                This is not your ordinary reward system. Combined with the magic of
                <a href="http://www.classroom-hero.com">SnowShoe Stamps</a>, Classroom Hero instantly creates powerful teacher-student interactions
              </h2>
    
              <%= link_to "How it works", '#', class: "btn btn-lg btn-primary" %>
        </div>
    </body>
</html>


