<!DOCTYPE html>
<html>
    <head>
        <title>Home | Classroom Hero Tool For Teachers</title>
    </head>
    <body>
        <h1>Home</h1>
        <p>
            Classroom Hero Home Page
        </p>
    </body>
</html>
