<% provide(:title, "Terms of Use") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %>| Classroom Hero</title>
    </head>
    <body>
        <h1>Terms of Use</h1><br>
        <p>
            Classroom Hero Terms of Use
        </p>
    </body>
</html>